<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.IAMSHOP.mappers.MemberMapper">
    <insert id="insertMember" parameterType="com.example.IAMSHOP.entities.MemberEntity">
        INSERT INTO `iamshop`.`members` (`member_id`, `member_password`, `member_addr1`, `member_addr2`, `member_addr3`, `member_email`, `normal_tel1`, `normal_tel2`, `normal_tel3`, `tel1`, `tel2`, `tel3`, `created_at`, `is_admin`, `is_deleted`, `is_suspended`)
        VALUES(#{memberId}, #{memberPassword}, #{memberAddr1}, #{memberAddr2}, #{memberAddr3}, #{memberEmail}, #{normalTel1}, #{normalTel2}, #{normalTel3}, #{tel1}, #{tel2}, #{tel3}, #{createdAt}, #{isAdmin}, #{isDeleted}, #{isSuspended})
    </insert>

<select id="selectMemberByMemberId" resultType="com.example.IAMSHOP.entities.MemberEntity">
    SELECT `member_id`       AS `memberId`,
           `member_password` AS `memberPassword`,
           `member_addr1`    AS `memberAddr1`,
           `member_addr2`    AS `memberAddr2`,
           `member_addr3`    AS `memberAddr3`,
           `member_email`    AS `memberEmail`,
           `normal_tel1`     AS `normalTel1`,
           `normal_tel2`     AS `normalTel2`,
           `normal_tel3`     AS `normalTel3`,
           `tel1`            AS `tel1`,
           `tel2`            AS `tel2`,
           `tel3`            AS `tel3`,
           `created_at`      AS `createdAt`,
           `is_admin`        AS `isAdmin`,
           `is_deleted`      AS `isDeleted`,
           `is_suspended`    AS `isSuspended`,
    FROM `iamshop`.`members`
    WHERE BINARY `email` = #{email}
    LIMIT 1
</select>


</mapper>