@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
.kakaoLogo {
  width: 1rem;
  height: 1rem;
}

.login-controller {
  padding: 3rem 0 10rem 0;
}
.login-controller .contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-controller .contents #loginForm .login {
  font-size: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.login-controller .contents #loginForm .login h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #3b3b3b;
}
.login-controller .contents #loginForm .login .inputBox {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 0.5rem;
}
.login-controller .contents #loginForm .login .inputBox label {
  width: 100%;
}
.login-controller .contents #loginForm .login .inputBox label input {
  width: 100%;
  height: 2rem;
  border: 0.0625rem solid #d8d8d8;
  border-radius: 0;
  padding: 0 0.5rem;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.login-controller .contents #loginForm .login label {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-controller .contents #loginForm .login label input {
  align-items: flex-start;
  display: none;
}
.login-controller .contents #loginForm .login label .checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/static/assets/images/icon/checkbox.png") 0 -438px no-repeat;
  vertical-align: top;
}
.login-controller .contents #loginForm .login .flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}
.login-controller .contents #loginForm .login .flex a {
  width: 10rem;
  height: 2.5rem;
  font-weight: 400;
  border: 0.0625rem solid #212121;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-controller .contents #loginForm .login p {
  margin-top: 5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #3b3b3b;
}

label, p, span {
  font-size: 0.7rem;
  align-items: stretch;
}

.container {
  padding: 0 5rem;
}
.container .contents #join {
  max-width: 400px;
  margin: 0 auto;
}
.container .contents #join .titleArea {
  margin: 4rem 0 2rem 0;
}
.container .contents #join .titleArea h2 {
  font-weight: 450;
  font-size: 1.2rem;
}
.container .contents #join #join-container {
  align-items: flex-start;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.container .contents #join #join-container .member-Privacy {
  width: 400px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
}
.container .contents #join #join-container .member-Privacy input {
  width: 100%;
  height: 2rem;
  border: 0.0625rem solid #d8d8d8;
  border-radius: 0;
  padding-block: 0;
}
.container .contents #join #join-container .member-Privacy .phone-wrap {
  width: 100%;
  height: 2.5rem;
  background-color: #212121;
  border: 0.0625rem solid #212121;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container .contents #join #join-container .member-Privacy .phone-wrap .phone-certification {
  color: #ffffff;
  font-size: 0.8rem;
}
.container .contents #join #join-container .member-Privacy .address-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.container .contents #join #join-container .member-Privacy .call-number {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.container .contents #join #join-container .member-Privacy .call-number select {
  width: 100%;
  height: 2rem;
  border: 0.0625rem solid #d8d8d8;
  border-radius: 0;
  padding: 0 0.3rem;
}
.container .contents #join #join-container .member-Privacy label {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
}
.container .contents #join #join-container .member-Privacy .birth-container .radio-wrap {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  gap: 0.8rem;
}

.password-tip {
  margin-top: -0.3rem;
  color: #5e5e5e;
  font-weight: 350;
}

.search-address {
  width: 100%;
  align-items: stretch;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  gap: unset !important;
}

.addressButton {
  left: 0.3rem;
  width: 8rem;
  height: 33.6px;
  font-weight: 400;
  border: 0.0625rem solid #212121;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div, p, h1, h2, h3, h4, h5, h6, input, a, span, label, strong {
  font-size: 1.5rem;
  font-weight: 300;
}

body * {
  box-sizing: border-box;
}

#myPage {
  width: 100%;
  white-space: nowrap;
}
#myPage .container {
  width: 100%;
  top: 3rem;
  padding: 0 5rem 5rem 5rem;
  margin: 0 auto;
  position: relative;
}
#myPage .container > .contents {
  width: 100%;
}
#myPage .container > .contents > .myPage {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20rem;
}
#myPage .container > .contents > .myPage > .flex > .left-nav {
  min-width: 455px;
  max-width: 455px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#myPage .container > .contents > .myPage > .flex > .left-nav > div {
  font-size: 1.5rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#myPage .container > .contents > .myPage > .content {
  width: 100%;
  max-width: 1230px;
  position: relative;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#myPage .container > .contents > .myPage > .content > .information {
  width: 100%;
  padding: 30px 0;
  border: none;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
}
#myPage .container > .contents > .myPage > .content > .information > .icon {
  width: 5rem;
  height: 5rem;
  background-color: #212121;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
#myPage .container > .contents > .myPage > .content > .information > .icon > img {
  width: 2rem;
  height: 2rem;
}
#myPage .container > .contents > .myPage > .content > .information > .description {
  margin-left: 1rem;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
#myPage .container > .contents > .myPage > .content > h3 {
  margin-top: 2rem;
  font-weight: 450;
}
#myPage .container > .contents > .myPage > .content > .state {
  width: 100%;
  padding: 30px 0;
  border: none;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
#myPage .container > .contents > .myPage > .content > .state > .state-wrap {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
#myPage .container > .contents > .myPage > .content > .order-history {
  width: 100%;
  margin-top: 2rem;
}
#myPage .container > .contents > .myPage > .content > .order-history > .message {
  color: #757575;
  width: 100%;
  height: 15rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  overflow-x: unset !important;
  min-width: unset !important;
  overflow-y: unset !important;
  white-space: nowrap;
  cursor: default;
  font-family: "Roboto", "Pretendard", serif;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  box-sizing: border-box;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html body .ec-base-product ul.grid3 li {
  margin-top: 80px;
  margin-bottom: 0;
}

.list-wrap .list-list {
  width: 100%;
}

.container {
  box-sizing: border-box;
}
.container > .contents > .list-wrap {
  display: flex;
}
.container > .contents > .list-wrap > .filter {
  min-width: 285px;
  max-width: 285px;
  margin-right: 169px;
}
.container > .contents > .list-wrap > .filter > .wrap {
  position: sticky;
  left: 0;
  top: 125px;
  min-width: 300px;
  max-width: 300px;
  padding-right: 20px;
  max-height: calc(100vh - 140px);
  min-height: calc(100vh - 140px);
  overflow-y: auto;
}
.container > .contents > .list-wrap > .filter > .wrap > .custom-nav > .productMenu > .menuCategory > .productDisplayCategory > a {
  width: 20rem;
}
.container > .contents > .list-wrap > .list-list > .prdList {
  width: 5rem;
}
.container > .contents > .list-wrap > .list-list > .prdList > li {
  position: relative;
  display: inline-block;
  margin: 0 0 30px;
  color: #a1a1a1;
  vertical-align: top;
}
.container > .contents > .list-wrap > .list-list > .grid3 {
  width: calc(100% + 16px) !important;
  margin-left: -8px;
  transform: unset;
}
.container > .contents > .list-wrap > .list-list > .grid3 > li {
  padding: 0 !important;
  width: calc(25% - 16px);
  margin-left: 8px;
  margin-right: 8px;
}
.container > .contents > .list-wrap > .list-list > .grid3 > li > .thumbnail {
  width: 100% !important;
  border: none;
  position: relative;
  margin: 0 auto;
  text-align: center;
  float: none;
}
.container > .contents > .list-wrap > .list-list > .grid3 > li > .thumbnail > .noborder > .thumb-img {
  width: 100%;
  opacity: 1 !important;
  border: none;
}
> .container > .contents > .list-wrap > .list-list > .grid3 > li > .thumbnail > .noborder > .thumb-img.thumb-img:hover {
  display: none;
  width: 100%;
}

body {
  overflow-x: unset !important;
  min-width: unset !important;
  overflow-y: unset !important;
  white-space: nowrap;
  cursor: default;
  font-family: "Roboto", "Pretendard", serif;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  box-sizing: border-box;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 500;
}

a {
  color: #212121;
  font-weight: 300;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.mainBanner {
  margin-top: 5rem;
}

.subBanner {
  margin: 15rem 0;
}

.newArrival {
  margin: 15rem 0;
}

main {
  box-sizing: border-box;
}

#header {
  position: relative;
  height: auto;
  padding: 0;
  top: 0;
  border-bottom: 1px solid #d8d8d8 !important;
  z-index: 5;
  transition: transform 0.5s;
}
#header > .header_sec01 {
  position: relative;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#header > .header_sec01 > .spring {
  border-bottom: 0.125rem solid #212121;
}
#header > .header_sec01 > .top {
  margin: 0;
  padding: 2rem 5rem;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
#header > .header_sec01 > .top > .f-Left > .lang-wrap > .flex {
  width: 2rem;
}
#header > .header_sec01 > .top > .f-Left > .lang-wrap > .flex > .lang-img {
  width: 0.5rem;
  height: 0.5rem;
  border: 0.0125rem solid #e0e0e0;
  border-radius: 1rem;
}
#header img {
  width: 1rem;
  height: 1rem;
}
#header .f-center {
  padding: 0 5rem;
}
#header .f-right {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#header .f-right > .search {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
}

.topMenu_area > .category_menu > .wrap {
  color: #212121;
  padding-left: 80px;
  flex-direction: column;
}

.topMenu_area {
  border-bottom: 0.0125rem solid #dedede;
}
.topMenu_area > .flex {
  padding: 1.5rem 5rem 0 5rem;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topMenu_area > .flex > hr {
  border: none;
  width: 1px;
  height: 12px;
  border-right: 1px solid #C1C1C1;
  margin: 2px 8px 0;
}
.topMenu_area > .flex > ul {
  margin: 0 0 0 auto;
  font-size: 16px;
  display: flex;
}
.topMenu_area > .flex > ul > li {
  margin-top: 0.1rem;
  padding-bottom: 0.2rem;
  margin-left: 16px;
  list-style-type: none;
}
.topMenu_area > .flex > ul > li:hover {
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
.topMenu_area > .flex > ul > li > a {
  color: #424242;
  text-decoration: none;
}
.topMenu_area > .flex > ul > li + li {
  margin-left: 1rem;
}
.topMenu_area > .flex .category-menu {
  padding: 0 0.5rem 1.5rem 0.5rem;
  position: relative;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topMenu_area > .flex .category-menu > a {
  color: #424242;
  line-height: 1.2;
  font-size: 1.5rem !important;
  font-weight: 400;
  padding: 0 0 0.2rem 0;
  position: relative;
  text-decoration-style: unset;
  text-decoration: none;
  display: block;
}
.topMenu_area > .flex .category-menu > a:hover {
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
.topMenu_area > .flex .category-menu > a:hover + .wrap > .rel {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.topMenu_area > .flex .category-menu > .wrap {
  background-color: #fff;
  position: absolute;
  display: flex;
  left: 0;
  max-height: 0;
  top: 70px;
  width: 100%;
  min-width: 1220px;
  padding-right: 80px;
  transition: unset;
}
.topMenu_area > .flex .category-menu > .wrap > .rel {
  height: 10rem;
  background-color: #fff;
  display: none;
}
.topMenu_area > .flex .category-menu > .wrap > .rel > .link {
  text-decoration: none;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.topMenu_area > .flex .category-menu > .wrap > .rel > .link > a:hover > .depth2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;
}
.topMenu_area > .flex .category-menu > .wrap > .rel > .link > .depth2 {
  text-decoration: none;
  display: none;
}
.topMenu_area > .flex .category-menu > .wrap > .rel > .link > .depth2 > .link {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.topMenu_area > .flex .category-menu > .wrap > .rel > .link > .depth2 > .link > .depth3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.mainBanner {
  padding: 0 5rem;
}
.mainBanner > .swiper-container {
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainBanner > .swiper-container > .swiper-wrapper {
  transition: transform 1s;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.mainBanner > .swiper-container .swiper-slide {
  position: relative;
  width: 30rem;
  height: 37.5rem;
}
.mainBanner > .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
}

.newArrival {
  margin: 5rem 0 8rem 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.newArrival > .pdCon > .swiper-container {
  padding: 0.4rem 5rem 0 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newArrival > .pdCon > .swiper-container > .swiper-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.newArrival > .pdCon > .swiper-container > .swiper-wrapper > .swiper-slide > img {
  width: 30rem;
  height: 37.5rem;
}

.swiper-pagination-bullet {
  cursor: pointer !important;
  margin-top: 2rem;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
  vertical-align: top;
}

.brands {
  padding: 13rem 0;
  overflow: hidden;
}
.brands > div > ul {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.brands > div > ul > li {
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.brands > div > ul > li > div > a > img {
  cursor: pointer;
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
}

.topBtn {
  padding: 10rem 0 20rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topBtn > a {
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topBtn > a > span {
  color: #212121;
  padding-top: 0.5rem;
}

footer {
  background-color: #757575;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer > div {
  margin: 2rem 0 15rem 0;
  color: #e0e0e0;
  font-size: 1.5rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
