<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IAMSHOP</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/assets/styles/index.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/assets/styles/common.css}">
</head>
<body>
<th:block th:replace="~{fragments/userIndex/headerSection.html :: headerSection}"></th:block>
<th:block th:replace="~{fragments/userIndex/join.html :: joinForm}"></th:block>
</body>
</html>