<!DOCTYPE html>
<html lang="ko"  xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[맛집] 비밀번호 재설정 인증번호</title>
<!--    <script defer type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>-->
<!--    <script defer type="text/javascript" th:src="@{/assets/scripts/index.js}"></script>-->
</head>
<body>
<div style="max-width: 600px">
    <div style=" color: #424242; font-size: 35px; margin-bottom: 10px;">맛집</div>
    <div style="color: #212121; font-size: 16px; line-height: 1.25; text-align: justify;">
        해당 이메일은 맛집 계정의 비밀번호를 재설정하기 위한 요청에 따라 발송되었습니다. 아래 인증번호를 입력하시면 비밀번호를 재설정 하실 수 있습니다. 해당 인증번호를 타인에게 알려줄경우 개인정보 노출의 위험이 있음으로 절대로 타인에게 알려주어서는 안 됩니다. 본인이 요청한 적이 없다면 안전하게 해당 이메일을 폐기해 주시기 바랍니다.</div>
    <code style="background-color: #f5f5f5; color: #424242; display: block; font-size: 20px; letter-spacing: 5px; margin-bottom: 15px; padding: 15px 20px;
 text-align: center; user-select: all;" th:text="${code}">123456</code>
    <div style="color: #212121; font-size: 16px; line-height: 1.25; margin-bottom: 15px; text-align: justify;">해당 이메일은 발신 전용이며, 문의에 대한 회신은 처리되지 않습니다. 궁금한 점이나 불편한 사항은 고객센터를 확인해 주시기 바랍니다.</div>
    <div style="height: 1px; background-color: #eeeeee; margin-bottom: 15px;"></div>
    <div style="color: #757575; font-size: 14px; line-height: 1.25; margin-bottom: 15px; text-align: justify;">
        <div>(주) 맛집 | 대표 | 주소 | 문의</div>
        <div>&copy; 2024 Matzip.</div>
    </div>
    <div style="height: 1px; background-color: #eeeeee; margin-bottom: 15px;"></div>
    <div style="color: #e74c3c; font-weight: bold;">해당 이메일은 개발자 양성 과정 훈련용 이메일임으로 착오 없으시길 바랍니다.</div>
</div>
</body>
</html>