<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          type="text/css"
          href="/assets/styles/index.css">
    <title>프로덕션 디테일</title>
</head>
<body>
<th:block th:replace="~{fragments/userIndex/headerSection.html :: headerSection}"></th:block>
<div class="컨테이너">
    <div class="제품사진란">
        <div class="사진컨테이너"> 
            <div class="사진래퍼">
                <div class="사진">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="제품상세정보및구매옵션란">

    </div>
</div>
</body>
</html>